<%= form_with(model: messenger, local: true) do |form| %>
  <% if messenger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(messenger.errors.count, "error") %> prohibited this messenger from being saved:</h2>

      <ul>
      <% messenger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :messenger_img_url %>
    <%= form.text_field :messenger_img_url, id: :messenger_messenger_img_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
