<%= form_with(model: transaction_message, local: true) do |form| %>
  <% if transaction_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction_message.errors.count, "error") %> prohibited this transaction_message from being
        saved:</h2>

      <ul>
        <% transaction_message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="content">
    <div id="wrapper">
      <div id="steps">
        <form id="formElem" name="formElem" action="" method="">
          <fieldset class="step">
            <legend>Mascot</legend>
              <% @messengers.each do |messenger| %>
                <%= link_to image_tag(messenger.messenger_img_url, size: "50") %>
              <% end %>
          </fieldset>
          <fieldset class="step">
            <legend>Theme</legend>
            <p>
              <% @themes.each do |theme| %>
                <%= link_to image_tag(theme.theme_img_url, size: "50") %>
              <% end %>
            </p>
          </fieldset>
          <fieldset class="step">
            <legend>Confirm</legend>
            <p>
              Everything in the form was correctly filled
              if all the steps have a green checkmark icon.
              A red checkmark icon indicates that some field
              is missing or filled out with invalid data. In this
              last step the user can confirm the submission of
              the form.
            </p>
            <p class="submit">
              <button id="registerButton" type="submit">Register</button>
            </p>
            <div class="actions">
              <%= form.submit %>
            </div>
          </fieldset>
        </form>
      </div>
      <div id="navigation" style="display:none;">
        <ul>
          <li class="selected">
            <a href="#">Mascot</a>
          </li>
          <li>
            <a href="#">Theme</a>
          </li>
          <li>
            <a href="#">Message</a>
          </li>
          <li>
            <a href="#">Confirm</a>
          </li>
        </ul>
      </div>
    </div>

  </div>


<% end %>
