<p id="notice"><%= notice %></p>

<p>
  <strong>Public transaction:</strong>
  <%= @transaction_message.public_transaction_id %>
</p>

<p>
  <strong>Theme:</strong>
  <%= image_tag @theme.theme_img_url %>
</p>

<p>
  <strong>Messenger:</strong>
  <%= image_tag @messenger.messenger_img_url %>
</p>

<p>
  <strong>Message:</strong>
  <%= @transaction_message.message %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @transaction_message.recipient %>
</p>

<%= link_to 'Edit', edit_transaction_message_path(@transaction_message) %> |
<%= link_to 'Back', transaction_messages_path %>
